{% extends 'website/base.html' %}
{% load static %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
    </br></div>
</header>
</br></br>
<center>
<div class="card" style="width: 90rem;">
    <div class="card-body">
      <h4 class="b-card-title">Este Proyecto de Django fue desarrollado por Marcela Martinez</h4>
    </br>
      <p<strong>Soy Bioquímica y después de haber completado una Maestría en BioInformática, he decidido profundizar en 
        otros lenguajes de programación. Durante la Maestría, trabajamos especialmente en Bash para acceder eficientemente a grandes 
        volumens de datos provenientes de la secuenciación de genomas. Creamos, también, modelos de aprendizahje automático, para 
        realizar predicciones en enfermedades genéticas, cuya validación se realizó previamente por métodos convencionales. 
        Al habe usado librerias de Python como Pandas y Numpy, pude ver la versatilidad de este lenguaje, que me 
        ha llevado a aprender más.
         </br></br>  
        <h5 class="card-subtitle mb-2">En este Proyecto, elegí como modelo un ginmasio, con 2 aplicaciones:</h5>
    </br>
            <ul class="list-group list-group-flush">
                <li>1. Users, con funcionalidades tales como: registro, edición de perfil, login/logout de usuarios, además de agregado de avatares. </li>
                </br>
                <li> 2. Website, con diferentes páginas, accesibles desde el Navegador: Clases, Entrenadores, Socios y Horarios, además de la página
                    de Inicio y la aquí desplegada (Acerca del Sitio). Estas páginas son visibles para todos, no requiriendo un login para ser visitadas porque 
                    funcionan a modo informativo. También esta disponible la opción de Búsqueda de Clase en la Página de Inicio, que lleva a otra página
                    con información de días y horarios disponibles.
                    Para Crear, Ver, Editar o Eliminar Reservas de Clase, el usuario ha de estar logueado.
                  Asimismo el Alta de Socios, solo puede realizar el Administrador del sitio, asi que la opción, en la página de Socio, sólo esta visible al administrador</li>
                </br>
                    <li>Como funcionalidad adicional, agregué contenido de una API de Yoga (https://github.com/alexcumplido/yoga-api), contenido que fue 
                    descargado en la BD de Dyango, para que usuarios registrados pudieran acceder a esta información. Este acceso se realiza
                     a través de una función de búsqueda que permite acceder a la Descripción e Imágenes de posturas específicas, 
                     presentadas al usuario como un menú desplegable.</li>
              </ul>
        </strong></p>
            </br></br>
            <a class="btn btn-lg btn-primary" href="{% url 'inicio' %}">INICIO</a>
            </br></br>
            <a class="btn btn-outline-danger" href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_nav-header-signin/">Linkedin</a>
    </div>
  </div>
</center>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
{% endblock %}
