{% extends 'website/base.html' %}
{% load static %}
{% block content %}
     <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
            </br>
            </div>
      </header>  
      <br></br>
<center>        
     <br></br>
       <div class="container">
            <div class="row">
                  <h3> {{ mensaje }} </h3>
                        <br></br>
                        <form method="POST" action="{% url 'registro' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="mb-3 form-check">
                            </div>
                            <br></br>
                            <button type="submit" class="btn btn-secondary">LOGIN</button>
                            <br></br>
                          </form>
                        <br></br>
                        <br></br>
                    </div>
            </div>    
        </div>
      </center>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>  
{% endblock %}   
